<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    
    <li class="nav-java" role="menuitem"><a href="{{site.baseurl}}tag/java/">Java</a></li>
    <li class="nav-java" role="menuitem"><a href="{{site.baseurl}}tag/database/">Database</a></li>
    <li class="nav-java" role="menuitem"><a href="{{site.baseurl}}tag/os/">OS</a></li>
    <li class="nav-java" role="menuitem"><a href="{{site.baseurl}}tag/interview/">Interview</a></li>
    <li class="nav-java" role="menuitem"><a href="{{site.baseurl}}tag/etc/">etc</a></li>
    
</ul>
